/* styles/AuthArea.module.css */
.authArea {
  display: flex;
  justify-content: center; /* Centraliza os links horizontalmente */
  gap: 20px; /* Espaço entre os links */
  padding-top: 10px; /* Reduzindo o padding superior */
  padding-bottom: 20px; /* Mantendo ou ajustando o padding inferior */
  margin-top: -20px; 
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: var(--primary-text); /* Cor do texto principal (branco claro) */
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--accent-color); /* Cor de destaque (dourado) */
  color: var(--secondary-background); /* Texto escuro para contraste */
  font-size: 0.85rem;
}

.link:hover {
  background-color: var(--button-color); /* Azul ao passar o rato */
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}