/* styles/Home.module.css */

.container {
  width: 90%;
  margin: auto;
  background: var(--secondary-background);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.header {
  margin-bottom: 30px; /* Manter a margem */
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: var(--primary-text);
  border-left: 4px solid var(--accent-color);
  padding-left: 12px;
  margin-top: 0;
}

.intro p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary-text);
}

.newsSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featuredNews h2,
.otherNews h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-text);
  border-left: 4px solid var(--accent-color);
  padding-left: 12px;
  margin-top: 0;
  padding-bottom: 0;
  width: fit-content; /* Ajustar largura ao conteúdo */
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.loadMoreBtn {
  display: block;
  margin: 30px auto 0 auto;
  background-color: var(--button-color);
  color: #F0F0F0; /* Cor do texto do botão */
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 6px; 
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.loadMoreBtn:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 0 6px rgba(191, 160, 43, 0.4); 
  transform: scale(1.02);
}